<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySection, SharpRepository.Repository" />
    <section name="sharpRepository2" type="SharpRepository.Repository.Configuration.SharpRepositorySection, SharpRepository.Repository" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EfConnectionString" connectionString="Data Source=test.mdf" />
  </connectionStrings>
  <sharpRepository>
    <repositories default="inMemory">
      <repository name="inMemory" factory="SharpRepository.InMemoryRepository.InMemoryConfigRepositoryFactory, SharpRepository.InMemoryRepository" />
      <repository name="efRepos" factory="SharpRepository.EfRepository.EfConfigRepositoryFactory, SharpRepository.EfRepository" connectionString="EfConnectionString" dbContextType="SharpRepository.Tests.TestObjects.TestObjectEntities, SharpRepository.Tests" cachingStrategy="timeout" />
      <repository name="inMemoryNoCaching" factory="SharpRepository.InMemoryRepository.InMemoryConfigRepositoryFactory, SharpRepository.InMemoryRepository" cachingStrategy="none" />
    </repositories>
    <cachingProviders default="inMemoryProvider">
      <cachingProvider name="inMemoryProvider" factory="SharpRepository.Repository.Caching.InMemoryConfigCachingProviderFactory, SharpRepository.Repository" />
      <!--      <cachingProvider name="redisProvider" factory="SharpRepository.Caching.Redis.RedisConfigCachingProviderFactory, SharpRepository.Caching.Redis" host="127.0.0.1" port="6379"/>-->
      <!--      <cachingProvider name="memCachedProvider" factory="SharpRepository.Caching.Memcached.MemCachedConfigCachingProviderFactory, SharpRepository.Caching.Memcached" sectionName="memcached"/>-->
    </cachingProviders>
    <cachingStrategies default="standard">
      <cachingStrategy name="standard" factory="SharpRepository.Repository.Caching.StandardConfigCachingStrategyFactory, SharpRepository.Repository" generational="true" writeThrough="false" />
      <cachingStrategy name="timeout" factory="SharpRepository.Repository.Caching.TimeoutConfigCachingStrategyFactory, SharpRepository.Repository" timeout="200" />
      <cachingStrategy name="none" factory="SharpRepository.Repository.Caching.NoCachingConfigCachingStrategyFactory, SharpRepository.Repository" />
    </cachingStrategies>
  </sharpRepository>
  <sharpRepository2>
    <repositories>
      <repository name="ef" factory="SharpRepository.EfRepository.EfConfigRepositoryFactory, SharpRepository.EfRepository" connectionString="EfConnectionString" dbContextType="SharpRepository.Tests.TestObjects.TestObjectEntities, SharpRepository.Tests" />
      <repository name="inMem" factory="SharpRepository.InMemoryRepository.InMemoryConfigRepositoryFactory, SharpRepository.InMemoryRepository" />
    </repositories>
  </sharpRepository2>
  <memcached>
    <servers>
      <add address="192.168.2.160" port="11211" />
      <add address="192.168.2.162" port="11211" />
    </servers>
  </memcached>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>