<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySectionGroup, SharpRepository.Repository">
      <sectionGroup name="repositories" type="SharpRepository.Repository.Configuration.RepositoriesSectionGroup, SharpRepository.Repository">
        <section name="default" type="SharpRepository.Repository.Configuration.DefaultSection, SharpRepository.Repository"/>
        <section name="inMemoryRepository" type="SharpRepository.InMemoryRepository.Config, SharpRepository.InMemoryRepository" />
        <section name="ef5Repository" type="SharpRepository.Ef5Repository.Config, SharpRepository.Ef5Repository" />
        <section name="ravenDbRepository" type="SharpRepository.RavenDbRepository.Config, SharpRepository.RavenDbRepository" />
      </sectionGroup>
      <sectionGroup name="cachingStrategies">
        <section name="standardCachingStrategy" type="SharpRepository.Repository.Configuration.StandardCachingStrategySection, SharpRepository.Repository"/>
        <section name="timeoutCachingStrategy" type="SharpRepository.Repository.Configuration.TimeoutCachingStrategySection, SharpRepository.Repository"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="Ef5ConnectionString" connectionString="Data Source=test.mdf"/>
  </connectionStrings>

  <sharpRepository>
    <repositories>
      <ef5Repository name="ef5" connectionString="Ef5ConnectionString"/>
      <inMemoryRepository name="inMemory"/>
      <ravenDbRepository name="ravenDb" url="http://localhost:8080"/>
      
      <default name="inMemory"/>
    </repositories>
    <cachingStrategies>
      <standardCachingStrategy name="standard" cachingProvider="inMemory" />
      <timeoutCachingStrategy name="timeout" cachingProvider="inMemory" timeout="200"/>
    </cachingStrategies>
  </sharpRepository>
</configuration>