<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Errore</title>
</head>
<body>
    <hgroup>
        <h1>Errore.</h1>
        <h2>Si è verificato un errore durante l'elaborazione della richiesta.</h2>
    </hgroup>
</body>
</html>
