<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio riportato di seguito la trasformazione "SetAttributes" modifica il valore di
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match"
    rileva un attributo "name" con valore "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      Nell'esempio riportato di seguito la trasformazione "Replace" sostituisce l'intera sezione
      <customErrors> del file Web.config.
      Poiché esiste una sola sezione customErrors nel nodo
      <system.web>, non è necessario utilizzare l'attributo"xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
