<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Raven Db Section-->
    <sectionGroup name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySectionGroup, SharpRepository.Repository">
      <sectionGroup name="repositories" type="SharpRepository.Repository.Configuration.RepositoriesSectionGroup, SharpRepository.Repository">
        <section name="default" type="SharpRepository.Repository.Configuration.DefaultSection, SharpRepository.Repository" />
        <section name="inMemoryRepository" type="SharpRepository.InMemoryRepository.Config, SharpRepository.InMemoryRepository" />
        <!--        <section name="ef5Repository" type="SharpRepository.Ef5Repository.Config, SharpRepository.Ef5Repository" />-->
        <section name="efRepository" type="SharpRepository.EfRepository.Config, SharpRepository.EfRepository" />
        <section name="ravenDbRepository" type="SharpRepository.RavenDbRepository.Config, SharpRepository.RavenDbRepository" />
        <section name="mongoDbRepository" type="SharpRepository.MongoDbRepository.Config, SharpRepository.MongoDbRepository" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="efRepositoryTest" type="SharpRepository.Repository.Configuration.SharpRepositorySectionGroup, SharpRepository.Repository">
      <sectionGroup name="repositories" type="SharpRepository.Repository.Configuration.RepositoriesSectionGroup, SharpRepository.Repository">
        <section name="default" type="SharpRepository.Repository.Configuration.DefaultSection, SharpRepository.Repository" />
        <section name="inMemoryRepository" type="SharpRepository.InMemoryRepository.Config, SharpRepository.InMemoryRepository" />
        <!--        <section name="ef5Repository" type="SharpRepository.Ef5Repository.Config, SharpRepository.Ef5Repository" />-->
        <section name="efRepository" type="SharpRepository.EfRepository.Config, SharpRepository.EfRepository" />
        <section name="ravenDbRepository" type="SharpRepository.RavenDbRepository.Config, SharpRepository.RavenDbRepository" />
        <section name="mongoDbRepository" type="SharpRepository.MongoDbRepository.Config, SharpRepository.MongoDbRepository" />
      </sectionGroup>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="Ef5ConnectionString" connectionString="Data Source=test.mdf" />
  </connectionStrings>
  <sharpRepository>
    <repositories>
      <default name="ravenDb" />
      <!--      <ef5Repository name="ef5" connectionString="Ef5ConnectionString" dbContextType=""/>-->
      <inMemoryRepository name="inMemory" />
      <ravenDbRepository name="ravenDb" url="http://localhost:8080" />
      <mongoDbRepository name="mongoDb" />
    </repositories>
  </sharpRepository>
  <efRepositoryTest>
    <repositories>
      <default name="ef" />
      <efRepository name="ef" connectionString="Ef5ConnectionString" dbContextType="SharpRepository.Tests.Integration.TestObjects.TestObjectEntities, SharpRepository.Tests.Integration" />
    </repositories>
  </efRepositoryTest>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="4.0.0.0-4.4.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="nlog.txt" keepFileOpen="false" encoding="iso-8859-2" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
</configuration>