<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Raven Db Section-->
    <section name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySection, SharpRepository.Repository" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Ef5ConnectionString" connectionString="Data Source=test.mdf" />
  </connectionStrings>
  <sharpRepository>
    <repositories>
      <repository name="EfRepository" connectionString="Ef5ConnectionString" factory="SharpRepository.EfRepository.EfConfigRepositoryFactory, SharpRepository.EfRepository" />
    </repositories>
  </sharpRepository>
  <!--  <efRepositoryTest>-->
  <!--    <repositories>-->
  <!--      <default name="ef" />-->
  <!--      <efRepository name="ef" connectionString="Ef5ConnectionString" dbContextType="SharpRepository.Tests.Integration.TestObjects.TestObjectEntities, SharpRepository.Tests.Integration" />-->
  <!--    </repositories>-->
  <!--  </efRepositoryTest>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="4.0.0.0-4.4.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
</configuration>