<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Raven Db Section-->
    <sectionGroup name="sharpRepository" type="SharpRepository.Repository.Configuration.SharpRepositorySectionGroup, SharpRepository.Repository">
      <sectionGroup name="repositories" type="SharpRepository.Repository.Configuration.RepositoriesSectionGroup, SharpRepository.Repository">
        <section name="default" type="SharpRepository.Repository.Configuration.DefaultSection, SharpRepository.Repository"/>
        <section name="inMemoryRepository" type="SharpRepository.InMemoryRepository.Config, SharpRepository.InMemoryRepository" />
<!--        <section name="ef5Repository" type="SharpRepository.Ef5Repository.Config, SharpRepository.Ef5Repository" />-->
        <section name="efRepository" type="SharpRepository.EfRepository.Config, SharpRepository.EfRepository" />
        <section name="ravenDbRepository" type="SharpRepository.RavenDbRepository.Config, SharpRepository.RavenDbRepository" />
        <section name="mongoDbRepository" type="SharpRepository.MongoDbRepository.Config, SharpRepository.MongoDbRepository" />
      </sectionGroup>
    </sectionGroup>

    <sectionGroup name="efRepositoryTest" type="SharpRepository.Repository.Configuration.SharpRepositorySectionGroup, SharpRepository.Repository">
      <sectionGroup name="repositories" type="SharpRepository.Repository.Configuration.RepositoriesSectionGroup, SharpRepository.Repository">
        <section name="default" type="SharpRepository.Repository.Configuration.DefaultSection, SharpRepository.Repository"/>
        <section name="inMemoryRepository" type="SharpRepository.InMemoryRepository.Config, SharpRepository.InMemoryRepository" />
<!--        <section name="ef5Repository" type="SharpRepository.Ef5Repository.Config, SharpRepository.Ef5Repository" />-->
        <section name="efRepository" type="SharpRepository.EfRepository.Config, SharpRepository.EfRepository" />
        <section name="ravenDbRepository" type="SharpRepository.RavenDbRepository.Config, SharpRepository.RavenDbRepository" />
        <section name="mongoDbRepository" type="SharpRepository.MongoDbRepository.Config, SharpRepository.MongoDbRepository" />
      </sectionGroup>
    </sectionGroup>
    
    <!-- NHibernate section -->
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>

  <connectionStrings>
    <add name="Ef5ConnectionString" connectionString="Data Source=test.mdf"/>
  </connectionStrings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="connection.connection_string">
        Data Source=test.mdf
      </property>
<!--      <property name="current_session_context_class">web</property>-->
    </session-factory>
  </hibernate-configuration>
  
  <sharpRepository>
    <repositories>
      <default name="ravenDb"/>

<!--      <ef5Repository name="ef5" connectionString="Ef5ConnectionString" dbContextType=""/>-->
      <inMemoryRepository name="inMemory"/>
      <ravenDbRepository name="ravenDb" url="http://localhost:8080"/>
      <mongoDbRepository name="mongoDb" />
    </repositories>
  </sharpRepository>

  <efRepositoryTest>
    <repositories>
      <default name="ef"/>

      <efRepository name="ef" connectionString="Ef5ConnectionString" dbContextType="SharpRepository.Tests.Integration.TestObjects.TestObjectEntities, SharpRepository.Tests.Integration"/>
    </repositories>
  </efRepositoryTest>
</configuration>