<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Replace the value with the value you copied from the Azure management portal -->
    <add key="EndPointUrl" value="https://example.com:443/"/>
    <!-- Replace the value with the value you copied from the Azure management portal -->
    <add key="AuthorizationKey" value="DocumentDBSample"/>
    <add key="DatabaseId" value="Entertainment"/>
    <add key="CollectionId" value="Games"/>
  </appSettings>
</configuration>